<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Estilo principal -->
  <link rel="stylesheet" href="/assets/css/main.css">

  <!-- Fuente opcional de Google -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

</head>

<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Biografía</a></li>
    <li><a href="/discografia">Discografía</a></li>
    <li><a href="/giras">Gira</a></li>
    <li><a href="/eventos">Eventos</a></li>
    <li><a href="/noticias">Noticias</a></li>
    <li><a href="/zona-fan">Zona Fan</a></li>
    <li><a href="/galeria">Galería</a></li>
  </ul>
</nav>


